In [9]:
import pandas as pd
import numpy as np
import math
import derivatives
from descentMethods import max_descent, newton_descent_unrestricted
import time
import matplotlib.pyplot as plt

In [10]:
datos = pd.read_csv('/Users/pedrom2/Desktop/Personal/ITAM/Materias/Applied-Analysis/Proyecto 1/population-and-demography.csv')
datos

,Entity,Code,Year,Population - Sex: all - Age: all - Variant: estimates
0,Afghanistan,AFG,1950,7776182
1,Afghanistan,AFG,1951,7879343
2,Afghanistan,AFG,1952,7987783
3,Afghanistan,AFG,1953,8096703
4,Afghanistan,AFG,1954,8207953
...,...,...,...,...
18939,Zimbabwe,ZWE,2019,15271377
18940,Zimbabwe,ZWE,2020,15526888
18941,Zimbabwe,ZWE,2021,15797220
18942,Zimbabwe,ZWE,2022,16069061
18943,Zimbabwe,ZWE,2023,16340829

In [11]:
datos_china = datos[datos['Entity'] == 'China']
datos_china = datos_china.drop(columns=['Entity','Code'])
datos_china = datos_china.rename(columns={'Population - Sex: all - Age: all - Variant: estimates':'Population'})
datos_china

      Year  Population
3330  1950   544044354
3331  1951   553758251
3332  1952   565131436
3333  1953   577557142
3334  1954   590113861
...    ...         ...
3399  2019  1423520354
3400  2020  1426106083
3401  2021  1426437276
3402  2022  1425179562
3403  2023  1422584937

[74 rows x 2 columns]

In [12]:
datos_china['Year'] = datos_china['Year'].apply(lambda x: x-1949)
datos_china['Population'] = datos_china['Population'].apply(lambda x: x/(10**8))
datos_china

      Year  Population
3330     1    5.440444
3331     2    5.537583
3332     3    5.651314
3333     4    5.775571
3334     5    5.901139
...    ...         ...
3399    70   14.235204
3400    71   14.261061
3401    72   14.264373
3402    73   14.251796
3403    74   14.225849

[74 rows x 2 columns]

In [13]:
datos_china.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74 entries, 3330 to 3403
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        74 non-null     int64
 1   Population  74 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.7 KB

Vayamos ahora a minimizar la función

In [14]:
def P(t, r, K, P0):
    res = K / (1 + ((K/P0) - 1)*math.exp(-r*t))
    return res

In [15]:
def funcion_a_minimizar(xi):
    sum = 0
    P0 = datos_china['Population'].iloc[0]

    r = xi[0]
    K = xi[1]

    for index, row in datos_china.iterrows():
        yk = row['Population']
        tk = row['Year']
        sum += (P(tk, r, K, P0) - yk)**2
    return (1/2) * sum

In [18]:
f = funcion_a_minimizar

m = 1000 # Density of axes
p = .1 # Limit of the hipercube
# p = 2
x_axis = np.linspace(-p, p, m)
y_axis = np.linspace(-p, p, m)
F = np.zeros((m,m))

for i in range(m):
    x0 = x_axis[i]
    for j in range(m):
        y0 = y_axis[j]
        w = np.array([x0, y0])
        F[i, j] = f(w)

[X, Y] = np.meshgrid(x_axis, y_axis)
fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')
ax.plot_surface(X,Y,F, cmap='viridis')

plt.show()

KeyboardInterrupt:

In [8]:
# Variables para medir tiempo
t_max = 0
t_newt = 0

# Selección del punto inicial xi (r, K)
xi = [.1, 20]

start = time.time()
minimum_max, k_max = max_descent(funcion_a_minimizar, xi)
end = time.time()
t_max = end-start

start = time.time()
minimum_newt, k_newt = newton_descent_unrestricted(funcion_a_minimizar, xi)
end = time.time()
t_newt = end-start

-16638.6163932086

OverflowError: math range error

In [ ]:
print(f'|===============|=======================|=========================|')
print(f'|===============|====Descenso Máximo====|=====Descenso Newton=====|')
print(f'|===============|=======================|=========================|')
print(f'   |∇f(x_min)|  |   {g1}  | {g2}  |')
print(f'   iteraciones  |          {k_max}          |            {k_newt}           |')
print(f'     cpu time   | {t_max}  |  {t_newt}  |')